<div>
    <table class="table table-sm table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">Round #</th>
                <th scope="col">Winner</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let battle of this.dataService.getBattles(); index as i;">
                <td>{{i+1}}</td>
                <td *ngIf="battle.winner === 0">Draw</td>
                <td *ngIf="battle.winner === 1">Player 1: {{getGame().pOne}}</td>
                <td *ngIf="battle.winner === 2">Player 2: {{getGame().pTwo}}</td>
            </tr>
        </tbody>

    </table>
</div>
