<div class="card" *ngIf="this.dataService.getBattles().length != 0">
    <h2>SCORE for GAME {{this.dataService.getGame().id}}</h2>

    <table class="table table-sm table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">ROUND</th>
                <th scope="col">WINNER</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let battle of this.dataService.getBattles(); index as i;">
                <td>{{i+1}}</td>
                <td *ngIf="battle.winner === 0">Draw</td>
                <td *ngIf="battle.winner === 1">Player 1: {{getGame().pOne}}</td>
                <td *ngIf="battle.winner === 2">Player 2: {{getGame().pTwo}}</td>
            </tr>
        </tbody>

    </table>
</div>
